<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>
</head>
<body>

    <div id="app">
        <h1>Genera 10 indirizzi mail</h1>
        <button @click="generateMail()">Genera mail</button>
        <ul>
            <li v-for="(mail, index) in emailCasuale" v-if="index < 10">{{mail}}</li>
        </ul>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>